@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Regular.ttf);
}

* {
    font-family: 'Dosis' !important;
}

.box-transparent {
    background-color: rgba(248, 249, 250, .7);
}

.display-login {
    position: fixed;
    right: 0px;
    min-height: 93vh;

}

.title-login {
    text-shadow: 3px 3px 8px #4a5c6e;
}

.full-height {
    min-height: 93vh;
}

.full-width {
    width: 100%;
}

.box-login {
    position: fixed;
    right: 0px;
    align-items: center;
    display: flex;
}

.background-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-footer {
    min-height: 7vh;
    display: flex;
    align-items: center;
}
